*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
p{
    font-size: 36px;
    color: #1d1d1d;
}
h1{
    font-size: 3rem;
    color: #222222;
    letter-spacing: 1.5px;
}
h2{
    color: #333333;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}
.black-bg h1,.black-bg h2{
    color: #fff;
}
@media screen and (max-width: 601px) {
    nav, nav a{
        display: none;
    }
    p{
        font-size: 28px;
    }
  }
.black-bg{
    background-color: #111111;
    color: #ffffff;
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.white-bg{
    background-color: #ffffff;
    color: #1d1d1d;
    display: flex;
    justify-content: start; 
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.heading, .subheading{
    text-align: center;
}
/* ---------------------------------------NAVBAR----------------------------------------------- */
nav{
    background: #111111;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 50px #000;
}
nav a{
    color: #ffffff;
    margin: 10px 15px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 1.3rem;
}
nav a:hover{
    text-shadow: 0px 0px 3px #ffffff;
}
/* ---------------------------------------HOME--------------------------------------------- */
.intro{
    text-align: center;
    margin: auto;
}
.avatar{
    background: url(images/avatar.png);
    height: 25vh;
    width: 25vh;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 10px ;
}
.intro h1,.intro h2{
    letter-spacing: 1.5px;
    color: #fff;
}
.intro h1{
    font-size: 3rem;
}
.intro h2{
    font-size: 2rem;
    font-weight: 200;
}
.social{
    margin: 10px 0;
}
.social a img{
    height: 30px;
    width: 30px;
    margin: 0 10px;
}
.intro button{
    background: #fff;
    color: #000;
    border: none;
    font-size: 18px;
    margin: 10px 0 0 0;
    padding: 10px;
    cursor: pointer;
}
/* ----------------------------------------ABOUT------------------------------------------------ */
#about{
    position: relative;
}
#about p{
    text-align: justify;
    width: 80%;
    color: #222222;
    text-size-adjust: auto;
    margin: auto;
}
/* ----------------------------------------SKILLS------------------------------------------------ */
#skills{
    position: relative;
}
.langs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.lang-box{
    border: 1.5px solid white;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.lang-img{
    height: 70px;
    width: 70px;
}
.langbox .images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.disp{
    display: inline-block;
    margin: 10px  ;
}
/* ----------------------------------------WORK------------------------------------------------ */
#work{
    position: relative;
}
/* ----------------------------------------CONTACT------------------------------------------------ */